# Build artifacts
build/

# Test output
/test/check.sh.log
/test/test-suite.log
/test/ref/*.out
/test/tmp/

# Locally generated artifacts
/src/app/abcip
/src/protos/prototool-inc.h
/src/protos/prototool-new.h

# Other stuff
*.rej
*.swp
*.gcno
*.gcda
*.gcov
*.trs
*~
._Xcode*
Xcode*/
